.icon-message{background-image:  url(../..//resources/images/icon/16/message-16.png)!important;background-repeat: no-repeat!important}
.icon-camera{background-image:  url(../..//resources/images/icon/16/camera16.png)!important;background-repeat: no-repeat!important}
.icon-find-16{background-image: url(../..//resources/images/icon/16/find-16.png)!important;background-repeat: no-repeat!important}
.icon-menu{background-image: url(../..//resources/images/icon/16/find-16.png)!important;background-repeat: no-repeat!important; }

